/* 기사 */
.article {
  height: 750px;
  margin: 10px;

  .container {
    padding: 20px;
    height: 650px;

    .date {
      font-size: 22px;
      font-weight: 600;
      color: rgb(113, 127, 140);      
      
      h4 {
        font-size: 12px;
        margin: 5px 0 2px 0;
      }
    }

    .board {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;

      .board_left {
        width: 95%;
        background: rgb(186,197,207);
        border-radius: 10px;

        .search {
          position: relative;
          color: rgb(129,141,153);
    
          input {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 150px;
            margin: 0;
            text-align: center;
            color: #fff;
            background: #bac5cf;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 16px;
            z-index: 1;
          }

          input::placeholder {
            color:white
          }
        }
      }
    }
  }
}

/* 반응형 */
@media screen and (max-width: 768px) {
  
  .article .container .search h3 {
    width: 20%;
  }

  .nav .btn_add_schedule {
    margin: 10px auto;
  }
}

@media screen and (max-width: 600px) {
  .article .container .date {
    font-size: 18px;
  }

  .article .container .search ul {
    width: 90%;
  }

  .article .container .search h3 {
    margin: 0 10px;
  }
}