/* 네비게이션 */
.nav {
  background: #d6dce2;
  height: 350px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .container {
    padding: 20px;
    text-align: center;
    color: rgb(126,138,149);
  }

  h1 {
    margin: 0;
  }

  h3 {
    display: inline-block;
    font-size: 12px;
  }

  h4 {
    margin: 2px;
    font-size: 11px;
  }

  .from {
    position: relative;

    ul {
      display: inline-block
    }

    > ul > li {
      display: inline-block;
      padding: 5px 10px;
      margin: 15px 10px 5px 10px;
      font-weight: 700;
      border-radius: 10px;
      width: 150px;
    }
  }
}

.selectBox * { box-sizing: border-box; }
.selectBox {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0 auto;
  background: #edf0f3;
  font-weight: 700;
  border-radius: 10px;
}

.selectBox:hover {
  background-color: #cccccc;
}

.selectBox.active {
  background-color: #cccccc;
}

.selectBox .label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding: 5px 10px 5px 10px;
  background: transparent;
  cursor: pointer;
  color: rgb(126,138,149);
  font-weight: 700;
  font-size: 20px;
}

.selectBox .optionList {
  position: absolute; 
  top: 52px;
  left: 0;
  width: 100%;
  background: #edf0f3;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.selectBox .optionList::-webkit-scrollbar {width: 6px;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.selectBox.active {
    z-index: 8;
}

.selectBox.active .optionList {
  max-height: 500px;
}

.selectBox .optionItem {
  border-bottom: 1px dashed #adadad;
  padding: 5px 15px 5px;
  transition: .1s;
  font-size: 12px;
  text-align: left;
}

.selectBox .optionItem:hover {
  background: #cccccc;
}

.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}

.swap_countries {
  position:absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 35px;
  z-index: 9;
  border: none;
  border-radius: 20px;
  background-color: rgb(186,197,208);
  
  h3 {
    color: #fff;
    font-size: 25px;
    margin: 0;
    text-align: center;
    transition: all .3s ease;
    transform:  rotate(180deg);
  }
}

.swap_countries:hover {
  background-color: rgb(154, 164, 173);
}

.swap_countries.active {
  h3 {
    transform:  rotate(0deg);
  }
}

.btn_add_schedule {
  margin: 0px auto;
  
  button {
    border: none;
    width: 250px;
    background: rgb(139,152,164);
    padding: 5px 10px;
    border-radius: 20px;
  }

  button:hover {
    background: rgb(125, 136, 146);
  }

  h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .nav {
    height: 400px;

    .from {
      h3 {
        display: block;
        margin: 5px 0 0 0 ;

      }

      > ul {
        width: 100%;
      }

      > ul > li {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
      }

      .swap_countries {
        z-index: 0;
        position:absolute;
        top: 50%;
      }

      li:nth-child(1) .selectBox {
        z-index: 11;
      }

      li:nth-child(2) .selectBox {
        z-index: 10;
      }
    }
  }
}