/* 네비게이션 */
.nav {
  background: #d6dce2;
  height: 350px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .container {
    padding: 20px;
    text-align: center;
    color: rgb(126,138,149);
  }

  h1 {
    margin: 0;
  }

  h3 {
    display: inline-block;
    font-size: 12px;
  }

  .from, .to {
    ul {
      display: inline-block
    }

    > ul > li {
      display: inline-block;
      padding: 5px 10px;
      margin: 15px 10px 5px 10px;
      font-weight: 700;
      border-radius: 10px;
      width: 150px;
    }
  }

  .btn_add_schedule {
    background: #bac5cf;
    width: 250px;
    color: #fff;
    padding: 5px 10px;
    margin: 0px auto;
    border-radius: 20px;

    h3 {
      margin: 0;
    }
  }
}

.selectBox * { box-sizing: border-box; }
.selectBox {
  position: relative;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0 auto;
  background: #edf0f3;
  font-weight: 700;
  border-radius: 10px;
}

.selectBox:hover {
  background-color: #cccccc;
}

.selectBox.active {
  background-color: #cccccc;
}

.selectBox:before {
  content: '✈';
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  right: 8px; 
  z-index: -1;
}

.selectBox .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding: 5px 10px 5px 20px;
  background: transparent;
  cursor: pointer;
  color: rgb(126,138,149);
  font-weight: 700;
  font-size: 15px;
}

.selectBox .optionList {
  position: absolute; 
  top: 35px;
  left: 0;
  width: 100%;
  background: #edf0f3;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.selectBox .optionList::-webkit-scrollbar {width: 6px;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.selectBox.active {
    z-index: 10;
}

.selectBox.active .optionList {
  max-height: 500px;
}

.selectBox .optionItem {
  border-bottom: 1px dashed #adadad;
  padding: 5px 15px 5px;
  transition: .1s;
  font-size: 12px;
  text-align: left;
}

.selectBox .optionItem:hover {
  background: #cccccc;
}

.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .nav {
    height: 400px;

    .from, .to {
      h3 {
        display: block;
        margin: 5px 0 0 0 ;

      }

      > ul {
        width: 100%;
      }

      > ul > li {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}