.App {
  background: #e5e5e5;
}

.main {
  margin : 20px;
  background: #f4f6f9;
}

.ir_pm {
  display:block;
  overflow:hidden;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
}

/* a reset */
a {color: #fff; text-decoration: none; outline: none}
a:active {text-decoration: none; color:#fff;}
a:hover {color: #fdd8d8;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}




/* 반응형 */
@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}


