.App {
  background: #e5e5e5;
}

.main {
  margin : 20px;
  background: #f4f6f9;
}

.ir_pm {
  display:block;
  overflow:hidden;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  background: rgb(186,197,207);
  align-items: center;
  justify-content: center;
  color: #fff;

  h1 {
    position: absolute;
    top: -20px;
    left: 10px;
  }

  li {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
  }

  .dark::after {
    position: absolute;
    right: 15px;
    top: 8px;
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
  }
}

/* 네비게이션 */
.nav {
  background: #d6dce2;
  height: 350px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .container {
    padding: 20px;
    text-align: center;
    color: rgb(126,138,149);
  }

  h1 {
    margin: 0;
  }

  .from {

    h3 {
      display: inline-block;
      font-size: 12px;
    }

    ul {
      display: inline-block;
    }

    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 15px 10px 5px 10px;
      background: #edf0f3;
      font-weight: 700;
      border-radius: 10px;
    }

    li:nth-child(1) {
      width: 100px;
    }

    li:nth-child(2) {
      width: 150px;
    }

    li:nth-child(3) {
      width: 150px;
    }
  }

  .to {
    h3 {
      display: inline-block;
      font-size: 12px;
    }

    ul {
      display: inline-block;
    }

    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 5px 10px 15px 10px;
      background: #edf0f3;
      font-weight: 700;
      border-radius: 10px;
    }

    li:nth-child(1) {
      width: 100px;
    }

    li:nth-child(2) {
      width: 150px;
    }

    li:nth-child(3) {
      width: 150px;
    }
  }

  .btn_add_schedule {
    background: #bac5cf;
    width: 250px;
    color: #fff;
    padding: 5px 10px;
    margin: 0px auto;
    border-radius: 20px;

    h3 {
      margin: 0;
    }
  }
}

/* 기사 */
.article {
  height: 800px;
  margin: 10px;

  .container {
    padding: 20px;
    height: 600px;

    .date {
      font-size: 22px;
      font-weight: 600;
      color: rgb(139, 152, 163);
    }

    .search {
      color: rgb(186,197,207);
      
      h4 {
        font-size: 12px;
        margin: 5px 0 2px 0;
      }

      .search_detail {
        display: flex;
        justify-content: c;
        margin: 5px 0 10px 0;
      }

      ul {
        display: flex;
        justify-content: space-between;
        width: 70%;
      }
      
      li {
        background-color: rgb(227, 232, 237);
        border-radius: 10px;
        padding: 5px 0;
        text-align: center;
        font-weight: 700;
      }

      li:nth-child(1) {
        width: 30%;
      }

      li:nth-child(2) {
        width: 30%;
      }

      li:nth-child(3) {
        width: 30%;
      }

      h3 {
        width: 15%;
        margin: 0 30px;
        text-align: center;
        color: #fff;
        background: #bac5cf;
        padding: 5px 10px;
        border-radius: 20px;

      }

    }

    .board {
      display: flex;
      justify-content: space-between;

      .board_left {
        width: 47%;
        height: 300px;
        background: rgb(186,197,207);
        border-radius: 10px;
      }
      
      .board_right {
        width: 47%;
        height: 300px;
        background: rgb(186,197,207);
        border-radius: 10px;
      }
    }
  }
}

/* 반응형 */
@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
  .nav {
    height: 400px;
  }
  
  .nav .from h3 {
    display: block;
    margin: 5px 0 0 0 ;
  }

  .nav .from ul {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .nav .from li {
    margin: 5px 0;
  }
  .nav .from li:nth-child(1) {
    width: 90%;
  }

  .nav .from li:nth-child(2) {
    width: 90%;
  }

  .nav .from li:nth-child(3) {
    width: 90%;
  }

  .nav .to h3 {
    display: block;
    margin: 5px 0 0 0 ;
  }

  .nav .to ul {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .nav .to li {
    margin: 5px 0;
  }
  .nav .to li:nth-child(1) {
    width: 90%;
  }

  .nav .to li:nth-child(2) {
    width: 90%;
  }

  .nav .to li:nth-child(3) {
    width: 90%;
  }

  .article .container .search h3 {
    width: 20%;
  }

  .article .container .board {
    flex-wrap: wrap;
  }
  .article .container .board .board_left {
    width: 100%;
    margin: 10px 0;
  }
  
  .article .container .board .board_right {
    width: 100%;
    margin: 10px 0;
  }

  .nav .btn_add_schedule {
    margin: 10px auto;
  }

}

@media screen and (max-width: 600px) {
  .article .container .date {
    font-size: 18px;
  }

  .article .container .search ul {
    width: 90%;
  }

  .article .container .search h3 {
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {

}


